src/META-INF/wsdl/www.cognosco.gr_80/HandsOnWorkShop/HandsOnService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.handson.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.handson.com/">

<xs:element name="Exception" type="tns:Exception" />

<xs:element name="handleInterSeption" type="tns:handleInterSeption" />

<xs:element name="handleInterSeptionResponse" type="tns:handleInterSeptionResponse" />

<xs:complexType name="handleInterSeption">
<xs:sequence>
<xs:element name="firstList" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="secondList" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="handleInterSeptionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>